@import "~themes/variables.less";

.map{
  .map-image{
    width:100%;
    height:100%;
    background-size: 100% 100%;
  }

  .container-locations{
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
  }
}