@import "~themes/variables.less";

.main{
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
}

.container-map{
  position:absolute;
  top:@header-height;
  left:0;
  width:100%;
  height: ~"calc(100% - @{header-height})";
  background-color:white;

  overflow:auto;
  text-align:center;
}

#debug-container{
  position:absolute;
  z-index:1;
  top:0;
  left:0;
  right:0;

  .debug-container-child{
    padding: 1rem 2rem;

    border-radius:2rem;
    border:1px solid white;
    background-color:black;
    color:white;

    h3{
      white-space: pre-line;
    }
  }
}